/* Menu.module.css */

.foodCard {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  margin: 10px;
}

.foodImage {
  width: 80%;
  height: 200px;
  object-fit: cover;
  margin: auto; /* Center the image horizontally */
}

.cardButtons {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #f9f9f9;
}

.cardButton {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cardButton:hover {
  background-color: #ddd;
}

.cart {
  margin-top: 20px;
}

.cart h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.cart ul {
  list-style-type: none;
  padding: 0;
}

.cart li {
  margin-bottom: 5px;
}


.container {
  display: flex;
  justify-content: space-between; /* Align items to start and end */
  padding: 20px; /* Add padding to the container */
}

.foodItems {
  width: 80%; /* Occupy 70% of the container width */
  display: flex;
  flex-wrap: wrap; /* Allow food items to wrap to the next line */
}

.foodCard {
  width: calc(33.33% - 20px); /* Three cards per row for laptop screens with 20px margin */
  margin: 0 10px 20px 0; /* Adjust margin between cards */
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  position: relative; /* Add position relative */
  height: 300px; 
}

.cardButtons {
  display: none;
  position: absolute;
  bottom: 0; /* Align buttons to the bottom of the card */
  width: 100%; /* Make buttons container full width */
  padding: 10px;
  background-color: transparent;
}

.foodCard:hover .cardButtons {
  display: flex; /* Show buttons on hover */
  justify-content: space-between; /* Distribute buttons evenly */
}

.cardButton {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cardButton:hover {
  background-color: #ddd;
}
.cardContent {
  padding: 10px;
}

.foodInfo {
  text-align: center; /* Center align name and price */
}

.foodInfo h3 {
  margin: 5px 0;
}

.foodInfo p {
  margin: 0;
}
.deleteIcon {
  color: red;
}
.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.cartItemInfo {
  display: flex;
  flex-direction: column;
}

.deleteIcon {
  cursor: pointer;
}

.totalPrice {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background: red;
}
.titleContainer {
  text-align: center;
  margin-bottom: 20px; /* Adjust as needed */
}

.title {
  /* Add styles for the title */
}

@media (max-width: 768px) {
  .foodCard {
    width: 100%; /* One card per row for mobile devices */
    margin: 0;
  }
}
