.menuItems {
  display: flex;
  flex-direction: column;
  margin: 30px 30px;
}

.foodItem {
  display: flex;
  justify-content: space-between;
}

.foodColumn {
  flex: 1;
}

.foodImage img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.foodValue,
.foodDetails,
.order {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foodValue h3,
.foodDetails h3 {
  margin-top: 0;
}



.order {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Align items to the right */
  position: relative; /* Make the parent container for positioning */
}


.cartButton:hover {
  background-color: #0056b3;
}